*{
    margin: 0;
    padding: 0;
}
.container{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
}
.navbar{
    color: white;
    background-color: black;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
}
.logo{
    width: 20vw;
    font-weight: 1000;
    font-size: larger;
    text-align: center;
}
span{
    color: red;
    font-size: 30px;
}
.links{
    width: 60vw;
    align-items: center;
}
.links ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.links ul li{
    padding: 0px 10px;
    font-weight: bold;
}
.button{
    width: 20vw;
}
button{
    background-color: rgb(71, 66, 232);
    border: 2px solid black;
    border-radius: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 10px 10px;
}
button a:hover{
    color: darkblue;
}
.content{
    background: #a9acbb;
}
.write{
    padding: 20px 20px;
}
.write button{
    
}
.grid {
    max-width: 1000px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.grid-item {
    min-width: 250px;
    max-width: 250px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 250px;
    flex: 1 1 250px;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: 1rem;
}
.wrapper {
    min-height: 100vh;
    padding: 2rem 0;
    color: #e4e4e8;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.grid-item figure {
    padding: 0;
    margin: 0;
    box-shadow: 0px 0px 6px 0px rgba(184, 58, 58, 0.05);
}
.grid-item figure img {
    display: block;
    max-width: 100%;
}
.grid-item figcaption {
    display: block;
    padding: .625rem .5rem;
    background: #474952;
}
.footer{
    display: flex;
    flex-direction: column;
}
.info{
    display: flex;
    flex-direction: row;
}
.details{
    width: 50vw;
}
.refrence{
    width: 50vw;
}
#button {
    line-height: 12px;
    width: 98px;
    height: 32px;
    font-size: 19pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    margin-top: 14px;
    margin-right: 10px;
    margin-left: 150px;
    background-color: rgb(69, 34, 211);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
  }
  
.footer{
    display: flex;
    flex-direction: column;
    padding: 100px 0px 100px 20px;
    background-color: black;
    color: aqua;
    text-align: center;
}
.info{
    display: flex;
    flex-direction: row;
}
.link{
    margin-bottom: 20px;
    width: 50%;
}
.social{
    margin-bottom: 20px;
    text-align: center;
    color: #f1eff9;
    width: 50%;
}
.social h5{
    padding: 20px 0;
    font-weight:100;
}
.social h4{
    text-align: left;
}
.connect{
    padding-bottom: 20px;
    font-weight: bold;
}
.link ul{
    list-style: none;
}
.link ul a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
    font-size: medium;
}
.link ul li{
    padding: 0 5px;
}
.link ul li a:hover{
    opacity: 1;
}
.end .copyright{
    margin-top: 20px;
    text-align: center;
    font-size: medium;
    color: lightgray;
}
